body{
    margin-bottom: -10px;
}
#title{
    height: 100vh;
    background-image: url("../img/code.jpg"); 
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size:cover;
    background-color: rgba(0,0,0,0.7);
   
}
.img{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);   

}
.me{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);   
    
}

.links{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%) translateY(-50%);  
    list-style: none;
    
}
.opt{
    list-style: none;
    float: left;
    padding: 50px;
   
 
}
.next{
    position: absolute;
    left: 50%;
    top: 90%
    
  
}
#about{
    height: 100vh;
    background-color: #02182b;
    display: none;
    
}
#skills{
    height: 100vh;
    background-color: white;
    display: none;
    
}
#project{
    height: 100vh;
    background-color: burlywood;
    display: none;
    
}
#contact{
    height: 100vh;
    background-color: gainsboro;
    display: none;
    
}
h1{
    font-family: 'Acme', sans-serif;
    color: whitesmoke
   
}

h2{ 
    display: none;
    font-family: 'Acme', sans-serif;
    color: whitesmoke
  
}
.prev{
    position: absolute;
    left: 50%;
    margin-top: 10px;
  
}
.tooltiptext1{
    visibility: hidden;
    font-family: 'Pridi', serif;
    width: 120px;
    background-color: #1f1112;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; 
    position: absolute;
    z-index: 1;
    border: 1px solid white;
    padding: 5px;
}
li:hover .tooltiptext1{
    visibility: visible;
}
ul .nav navbar-nav{
    margin-left: 100px;
}
#name{
    text-align: center;
}
hr{
    width: 50px;
}
img{
    max-width: 300px;;
}
p{
    color: whitesmoke;
    font-size: 20px;
}
#tellme{
    width: 80%;
}
